body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 1px solid;
  overflow-y: hidden;
  background: #c94b4b;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 32px,
    #ee9ca7 32px,
    #ee9ca7 64px
  );
  background-color: rgba(0,0,0,0.5);
  font-family: 'Courier New', Courier, monospace;
}



main {
  margin: 0 auto;
}

.cal-container {
  min-width: 300px;
  padding-top: 6rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.calc-screen {
  margin-bottom: 1rem;
  margin-bottom: 1rem;
  padding: 1.4rem 1rem;
  background: #f5f5f5;
  border-radius: 12px;
  position: relative;
}

.btn {
  outline: none;
  border: none;
  margin: 4px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn:hover {
  transform: scale(1.1);
}

.calc-screen > input {
  width: -webkit-fill-available;
  outline: none;
  border: none;
  background: transparent;
  font-size: 18px;
}

.calc-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.operator {
  background-color: #e25555b8;
  color: white;
}


@media all and (max-width:450px) {
  .btn{
    width: 40px;
    height: 40px;
    margin: 3px;
  }
  .cal-container {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    min-width: auto;
    width: 80%;

  }
  .calc-screen {
    padding: 1rem;
  }
   
}

.error-msg{
  color: #e25555;
  font-weight: 700;
  font-size: 14px;
  display: none;
}

.copy-btn{
  position: absolute;
  top: 21%;
  right: 13%;
  background-color: #ee9ca7;
  padding: 5px;
  border-radius:12px ;
  color: aliceblue;
  font-size: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.success-clipboard {
  position: fixed;
  bottom: 0;
  right: -100%;
  margin: 12px;
  color: green;
  font-weight: 700;
  background-color: lightgreen;
  padding: .91rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  transition: all 300ms;
}